.app-container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #024c97;
  font-size: 2.5rem;
}

p {
  color: #2383e2;
  font-size: 1.2rem;
}
/* Default light mode styles */
body.light-mode {
  background: #f9f9f9;
  color: #333;
}

body.dark-mode {
  background: #181717;
  color: #110707;
}

.app-container {
  text-align: center;
  padding: 20px;
  transition: background 0.3s, color 0.3s;
}

.toggle-btn {
  background: #555;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.toggle-btn:hover {
  background: #777;
}
